# 머신러닝 필수 라이브러리

1. Numpy : Nummerical Python의 줄임
- 파이썬 산술계싼의 대표적인 라이브러리
- 자료구조, 알고리즘 산술 데이터를 다루는 대부분의 과학 계산에 필수 라이브러리
- ndarray 객체

2. pandas : 구조화된 데이터나 표 형식의 데이터를 빠르고 쉽게 표현적으로 다루도록 설계된 고수준 자료구조
- 데이터 과학에서 데이터를 처리하는 대표적인 라이브러리
- 데이터 핸들링에 표준
- series 객체와 dataFrame 객체가 대표적인 자료구조

3. matplotlib : 시각화 라이브러리
- 그래프나 2차원 데이터를 시각화하는 파이썬 기반의 라이브러리

4. Seaborm : 시본, 다양한 시각화 종류를 제공하는 라이브러리
- matplotlib에 종속된 라이브러리

5. scipy  : 사이파이
- 과학 계산 컴퓨팅 영역의 여러 기본 문제를 다루는 패키지 모음
- scipy.stats : 가장 많이 사용되는 통계도구를 가지고 있는 라이브러리

6. scikit-learn : 머신러닝에 핵심 라이브러리
- 분류 : SVM, 최근접 이웃, 랜덤 포레스트, 로지스틱 회귀 등
- 회귀 : 라쏘, 릿지 회귀 등
- 클러스터링 : K-평균 등
- 차원축소 : PCA, 특징 선택, 행렬 인수분해 등
- 모델 선택 : 격자 탐색, 교차검증, 행렬
- 전처리 : 특징 추출, 정규화 등

7. statsmodels : R 언어용 회귀분석 모델을 구현한 통계분석 패키지
- 회귀모델 : 선형회귀
- 분산분석 : (ANOVA)
- 시계열분석 : AR, ARMA, ARIMA 등
- 통계 모델 결과의 시각화 제공

# 앙상블 학습

In [3]:
import numpy as np
import pandas as pd

# 보팅 분류기
from sklearn.ensemble import VotingClassifier
# 보팅용 학습 알고리즘
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier

# 테스팅 쪼개기
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from warnings import filterwarnings
filterwarnings('ignore')

In [4]:
from sklearn.datasets import load_breast_cancer
cancer = load_breast_cancer()

In [5]:
cancer.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename'])

In [6]:
df = pd.DataFrame(cancer.data, columns = cancer.feature_names)
df.head()

,mean radius,mean texture,mean perimeter,mean area,mean smoothness,mean compactness,mean concavity,mean concave points,mean symmetry,mean fractal dimension,...,worst radius,worst texture,worst perimeter,worst area,worst smoothness,worst compactness,worst concavity,worst concave points,worst symmetry,worst fractal dimension
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,0.05999,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,0.2597,0.09744,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,0.1809,0.05883,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [7]:
df.shape

(569, 30)

In [8]:
logistic_regression =  LogisticRegression()
knn = KNeighborsClassifier(n_neighbors=5)

voting_model = VotingClassifier(estimators=[('LogisticRegression', logistic_regression),('KNN', knn)], voting='soft')

In [12]:
X_train, X_test, y_train, y_test = train_test_split(cancer.data,cancer.target,test_size=0.2,random_state=156)

In [13]:
voting_model.fit(X_train, y_train)
pred = voting_model.predict(X_test)

In [15]:
print('보팅 분류기 정확도 : {:.3f}'.format(accuracy_score(y_test, pred)))

보팅 분류기 정확도 : 0.947

In [17]:
# 개별 모델의 학습과 예측 그리고 평가
classifier = [logistic_regression, knn]

for model in classifier:
    model.fit(X_train, y_train)
    pred = model.predict(X_test)
    model_name = model.__class__.__name__
    print('{}정확도 : {:.3f}'.format(model_name, accuracy_score(y_test, pred)))

LogisticRegression정확도 : 0.939
KNeighborsClassifier정확도 : 0.904

# 랜덤포레스트

In [18]:
wine = pd.read_csv('https://raw.githubusercontent.com/rickiepark/hg-mldl/master/wine.csv')

In [19]:
wine.head()

   alcohol  sugar    pH  class
0      9.4    1.9  3.51    0.0
1      9.8    2.6  3.20    0.0
2      9.8    2.3  3.26    0.0
3      9.8    1.9  3.16    0.0
4      9.4    1.9  3.51    0.0

In [21]:
data = wine[['alcohol', 'sugar', 'pH']].to_numpy()
target = wine['class'].to_numpy()

In [22]:
train_input, test_input, train_target, test_target = train_test_split(
data, target, test_size = 0.2, random_state = 42)

In [25]:
from sklearn.model_selection import cross_validate
from sklearn.ensemble import RandomForestClassifier

rf = RandomForestClassifier(n_jobs = -1, random_state = 42)
scores = cross_validate(rf, train_input, train_target, return_train_score = True)

print(np.mean(scores['train_score']),np.mean(scores['test_score']))

0.9973541965122431 0.8905151032797809

In [26]:
rf.fit(train_input, train_target)

print(rf.feature_importances_)

[0.23167441 0.50039841 0.26792718]

In [27]:
# OOB 샘플  : 부트스트랩 샘플에 포함되지 않고 남는 샘플
rf = RandomForestClassifier(oob_score =True, n_jobs = -1, random_state =42)
rf.fit(train_input, train_target)

print(rf.oob_score_)

0.8934000384837406

# 실전예제 : 중고차 가격 예측

1. 알고리즘 : 랜덤포레스트
2. 데이터셋 : 해외 중고차 거래 데이터셋 이용
3. 데이터 셋의 소개 : 종속변수(selling-price ), 독립변수()
- 중고차의 판매이력을 수집한 데이터 세트
4. 문제유형 : 회귀 
5. 평가지표 : RMSE
6. 사용할 모델 : RandomForestRegressor
7. 사용할 라이브러리 :

In [28]:
data = pd.read_csv('https://media.githubusercontent.com/media/musthave-ML10/data_source/main/car.csv')

In [29]:
data.head(3)

,name,year,selling_price,km_driven,fuel,seller_type,transmission,owner,mileage,engine,max_power,torque,seats
0,Maruti Swift Dzire VDI,2014,450000,145500,Diesel,Individual,Manual,First Owner,23.4 kmpl,1248 CC,74 bhp,190Nm@ 2000rpm,5.0
1,Skoda Rapid 1.5 TDI Ambition,2014,370000,120000,Diesel,Individual,Manual,Second Owner,21.14 kmpl,1498 CC,103.52 bhp,250Nm@ 1500-2500rpm,5.0
2,Honda City 2017-2020 EXi,2006,158000,140000,Petrol,Individual,Manual,Third Owner,17.7 kmpl,1497 CC,78 bhp,"12.7@ 2,700(kgm@ rpm)",5.0

1. feature 탐색
- name : 차종
- year : 년식
- selling-price : 판매가
- km_driven : 주행거리(km)
- fuel : 연료
- seller type : 판매자 유형
- transmission : 변속기
- owner : 소유자 이력
- mileage : 연비(km)
- engine : 배기량
- max_power : 최대출력(제동마력)
- torque : 회전력(타이어를 회전시키는 힘)
- seats : 좌석수(인승)

In [30]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8128 entries, 0 to 8127
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           8128 non-null   object
 1   year           8128 non-null   int64
 2   selling_price  8128 non-null   int64
 3   km_driven      8128 non-null   int64
 4   fuel           8128 non-null   object
 5   seller_type    8128 non-null   object
 6   transmission   8128 non-null   object
 7   owner          8128 non-null   object
 8   mileage        7907 non-null   object
 9   engine         7907 non-null   object
 10  max_power      7913 non-null   object
 11  torque         7906 non-null   object
 12  seats          7907 non-null   float64
dtypes: float64(1), int64(3), object(9)
memory usage: 825.6+ KB

In [31]:
data.describe()

              year  selling_price     km_driven        seats
count  8128.000000   8.128000e+03  8.128000e+03  7907.000000
mean   2013.804011   6.382718e+05  6.981951e+04     5.416719
std       4.044249   8.062534e+05  5.655055e+04     0.959588
min    1983.000000   2.999900e+04  1.000000e+00     2.000000
25%    2011.000000   2.549990e+05  3.500000e+04     5.000000
50%    2015.000000   4.500000e+05  6.000000e+04     5.000000
75%    2017.000000   6.750000e+05  9.800000e+04     5.000000
max    2020.000000   1.000000e+07  2.360457e+06    14.000000

## 전처리 : 텍스트 데이터

- split() : 문자열 분리

## engine

In [37]:
data[['engine', 'engine_unit']] = data['engine'].str.split(expand = True)

ValueError: Columns must be same length as key

In [38]:
data['engine'] = data['engine'].astype(float)

In [39]:
data['engine'].head()

0    1248.0
1    1498.0
2    1497.0
3    1396.0
4    1298.0
Name: engine, dtype: float64

In [42]:
data[['mileage', 'mileage_unit']] = data['mileage'].str.split(expand=True)

## mileage/

In [43]:
data['mileage'] = data['mileage'].astype(float)

In [44]:
data['mileage_unit'].unique()

array(['kmpl', 'km/kg', nan], dtype=object)

In [45]:
data['fuel'].unique()

array(['Diesel', 'Petrol', 'LPG', 'CNG'], dtype=object)

- 연료종류가 4종류
- 다른 종류의 연료로 주행거리를 비교하려면 같은 기준을 세워야 한다.
- 연료 가격을 활용하면 어떨까? 1달러달 몇 km를 주행할 수 있는지 알아보자
- 2022년 시점의 가격
- 'Diesel', 'Petrol', 'LPG', 'CNG'

In [46]:
def mile(x):
    if x['fuel'] =='Petrol':
        return x['mileage'] / 1.048
    elif['fuel'] =='Diesel':
        return x['mileage'] / 1.405
    elif['fuel'] =='LPG':
        return x['mileage'] / 3.54
    else:
         return x['mileage'] / 2.76

In [47]:
data['mileage'] = data.apply(mile, axis = 1)

In [48]:
data.drop('mileage_unit'), axis=1, inplace=True

SyntaxError: cannot assign to function call (Temp/ipykernel_4048/2096606693.py, line 1)

### torque
- 앞부분의 숫자만 추출해서 숫자형
- 단위 스케일(Nm)

In [49]:
data['torque'].unique()

array(['190Nm@ 2000rpm', '250Nm@ 1500-2500rpm', '12.7@ 2,700(kgm@ rpm)',
       '22.4 kgm at 1750-2750rpm', '11.5@ 4,500(kgm@ rpm)',
       '113.75nm@ 4000rpm', '7.8@ 4,500(kgm@ rpm)', '59Nm@ 2500rpm',
       '170Nm@ 1800-2400rpm', '160Nm@ 2000rpm', '248Nm@ 2250rpm',
       '78Nm@ 4500rpm', nan, '84Nm@ 3500rpm', '115Nm@ 3500-3600rpm',
       '200Nm@ 1750rpm', '62Nm@ 3000rpm', '219.7Nm@ 1500-2750rpm',
       '114Nm@ 3500rpm', '115Nm@ 4000rpm', '69Nm@ 3500rpm',
       '172.5Nm@ 1750rpm', '6.1kgm@ 3000rpm', '114.7Nm@ 4000rpm',
       '60Nm@ 3500rpm', '90Nm@ 3500rpm', '151Nm@ 4850rpm',
       '104Nm@ 4000rpm', '320Nm@ 1700-2700rpm', '250Nm@ 1750-2500rpm',
       '145Nm@ 4600rpm', '146Nm@ 4800rpm', '343Nm@ 1400-3400rpm',
       '200Nm@ 1400-3400rpm', '200Nm@ 1250-4000rpm',
       '400Nm@ 2000-2500rpm', '138Nm@ 4400rpm', '360Nm@ 1200-3400rpm',
       '200Nm@ 1200-3600rpm', '380Nm@ 1750-2500rpm', '173Nm@ 4000rpm',
       '400Nm@ 1750-3000rpm', '400Nm@ 1400-2800rpm',
       '200Nm@ 1750-3000rpm', '111.7Nm@ 4000rpm', '219.6Nm@ 1500-2750rpm',
       '112Nm@ 4000rpm', '250Nm@ 1500-3000rpm', '130Nm@ 4000rpm',
       '205Nm@ 1750-3250rpm', '280Nm@ 1350-4600rpm', '99.04Nm@ 4500rpm',
       '77Nm@ 3500rpm', '110Nm@ 3750rpm', '153Nm@ 3800rpm',
       '113.7Nm@ 4000rpm', '114Nm@ 4000rpm', '113Nm@ 4200rpm',
       '101Nm@ 3000rpm', '290Nm@ 1800-2800rpm', '120Nm@ 4250rpm',
       '250Nm@ 1500~4500rpm', '96 Nm at 3000 rpm', '360Nm@ 1750-2800rpm',
       '135Nm@ 2500rpm', '259.8Nm@ 1900-2750rpm', '200Nm@ 1900rpm',
       '259.9Nm@ 1900-2750rpm', '91Nm@ 4250rpm', '96.1Nm@ 3000rpm',
       '109Nm@ 4500rpm', '400nm@ 1750-3000rpm', '202Nm@ 3600-5200rpm',
       '430Nm@ 1750-2500rpm', '347Nm@ 4300rpm', '382nm@ 1750-2250rpm',
       '620Nm@ 1600-2400rpm', '400Nm@ 1750-2500rpm', '250@ 1250-5000rpm',
       '500Nm@ 1600-1800rpm', '250Nm@ 1600-3600rpm', '400Nm',
       '550Nm@ 1750-2750rpm', '490Nm@ 1600rpm', '250 Nm at 2750 rpm',
       '177.5Nm@ 4700rpm', '170Nm@ 1750-4000rpm', '300Nm@ 1200-4000rpm',
       '300Nm@ 1200-1400rpm', '260Nm@ 1500-2750rpm', '213Nm@ 4500rpm',
       '224Nm@ 4000rpm', '640Nm@ 1740rpm', '113Nm@ 4500rpm',
       '95Nm@ 3000-4300rpm', '13.1kgm@ 4600rpm', '205Nm@ 1800-2800rpm',
       '71Nm@ 3500rpm', '190Nm@ 1750-3000rpm', '146Nm at 4800 rpm',
       '14.9 KGM at 3000 RPM', '115Nm@ 3200rpm', '117nm@ 4000rpm',
       '320Nm@ 1500-3000rpm', '72Nm@ 4386rpm', '11.4 kgm at 4,000 rpm',
       '140Nm@ 1500-4000rpm', '134Nm@ 4000rpm', '150Nm@ 4500rpm',
       '340Nm@ 1800-3250rpm', '240Nm@ 1600-2800rpm',
       '330Nm@ 1600-2800rpm', '12.5@ 3,500(kgm@ rpm)', '110Nm@ 4800rpm',
       '111.8Nm@ 4000rpm', '11.8@ 3,200(kgm@ rpm)', '135.4Nm@ 2500rpm',
       '300Nm@ 1750-2500rpm', '190.25nm@ 1750-2250rpm',
       '140Nm@ 1800-3000rpm', '20.4@ 1400-3400(kgm@ rpm)',
       '247Nm@ 1800-2000rpm', '223Nm@ 1600-2200rpm',
       '180 Nm at 1440-1500rpm', '195Nm@ 1400-2200rpm',
       '154.9Nm@ 4200rpm', '114.73Nm@ 4000rpm', '160Nm@ 1500-2750rpm',
       '108Nm@ 4400rpm', '190.24nm@ 1750-2250rpm', '200Nm@ 2000-3500rpm',
       '420Nm@ 1400-2600rpm', '100Nm@ 2700rpm', '51Nm@ 4000rpm',
       '250Nm@ 1250-5300rpm', '132Nm@ 3000rpm', '350Nm@ 1500-2750rpm',
       '218Nm@ 4200rpm', '14.9@ 3,000(kgm@ rpm)',
       '24@ 1,900-2,750(kgm@ rpm)', '13.5@ 2,500(kgm@ rpm)',
       '85Nm@ 3000rpm', '74.5Nm@ 4000rpm', '160Nm@ 1750rpm',
       '180.4Nm@ 1750-2500rpm', '230Nm@ 1500-2500rpm',
       '113.75Nm@ 4000rpm', '219.66nm@ 1500-2750rpm', '245Nm@ 1750rpm',
       '360Nm@ 1400-3200rpm', '320Nm@ 2000rpm', '135 Nm at 2500  rpm ',
       '24 KGM at 1900-2750 RPM', '190Nm@ 1750-2250rpm',
       '204Nm@ 2000-2750rpm', '14.3@ 1,800-3,000(kgm@ rpm)',
       '250nm@ 1500-2750rpm', '125Nm@ 2000rpm', '172Nm@ 4300rpm',
       '150Nm@ 1750rpm', '102Nm@ 4000rpm', '85Nm@ 2500rpm',
       '8.5@ 2,500(kgm@ rpm)', '180Nm@ 1440-1500rpm', '106.5Nm@ 4400rpm',
       '108.5Nm@ 5000rpm', '350Nm@ 1750-2500rpm', '144.15nm@ 4500rpm',
       '104Nm@ 4400rpm', '99Nm@ 4500rpm', '200Nm@ 2000rpm',
       '280Nm@ 1800-2800rpm', '142.5Nm@ 1750rpm', '140Nm@ 4400rpm',
       '115@ 2,500(kgm@ rpm)', '196Nm@ 5000rpm',
       '260 Nm at 1800-2200 rpm', '9.8@ 3,000(kgm@ rpm)',
       '209Nm@ 2000rpm', '135 Nm at 2500 rpm', '140Nm@ 4200rpm',
       '220Nm at 1400-2600 rpm', '48Nm@ 3000rpm', '171Nm@ 1800rpm',
       '277.5Nm@ 1700-2200rpm', '215Nm@ 3600rpm', '219.6Nm@ 1750-2750rpm',
       '195Nm@ 1440-2200rpm', '13@ 2,500(kgm@ rpm)', '180Nm@ 2000rpm',
       '200Nm@ 1400-2200rpm', '380Nm(38.7kgm)@ 2500rpm', '110Nm@ 4400rpm',
       '72Nm@ 4388rpm', '263.7Nm@ 2500rpm', '320Nm@ 1600-2800rpm',
       '25.5@ 1,500-3,000(kgm@ rpm)', '16.3@ 2,000(kgm@ rpm)',
       '190 Nm at 1750 rpm ', '94.14Nm@ 3500rpm', '12@ 3,500(kgm@ rpm)',
       '113Nm@ 5000rpm', '280Nm@ 2400-2800rpm', '96Nm@ 3500rpm',
       '16@ 2,000(kgm@ rpm)', '320Nm@ 1750-3000rpm', '114.73nm@ 4000rpm',
       '320Nm@ 1750-2500rpm', '138nm@ 4400rpm', '190Nm@ 1750rpm',
       '789Nm@ 2250rpm', '259.87Nm@ 1900-2750rpm', '205Nm@ 1750rpm',
       '436.39Nm@ 1800-2500rpm', '182.5Nm@ 1500-1800rpm',
       '90.3Nm@ 4200rpm', '12.5@ 2,500(kgm@ rpm)', '215Nm@ 1750-3000rpm',
       '215Nm@ 1750-3000', '305Nm@ 2000rpm', '540Nm@ 2000rpm',
       '327Nm@ 2600rpm', '300Nm@ 1600-3000rpm', '620Nm@ 2000-2500rpm',
       '450Nm@ 1600-2400rpm', '19@ 1,800(kgm@ rpm)',
       '9.2@ 4,200(kgm@ rpm)', '145@ 4,100(kgm@ rpm)',
       '51Nm@ 4000+/-500rpm', '110Nm@ 3000rpm', '148Nm@ 3500rpm',
       '116Nm@ 4750rpm', '48@ 3,000+/-500(NM@ rpm)', '148Nm@ 4000rpm',
       '222Nm@ 4300rpm', '135.3Nm@ 5000rpm', '98Nm@ 1600-3000rpm',
       '170Nm@ 1400-4500rpm', '343Nm@ 1400-2800rpm',
       '402Nm@ 1600-3000rpm', '113Nm@ 3300rpm', '99.07Nm@ 4500rpm',
       '210nm@ 1600-2200rpm', '190 Nm at 1750  rpm ', '32.1kgm@ 2000rpm',
       '224nm@ 1500-2750rpm', '400nm@ 1750-2500rpm',
       '215Nm@ 1750-2500rpm', '25@ 1,800-2,800(kgm@ rpm)',
       '197Nm@ 1750rpm', '136.3Nm@ 4200rpm', '470Nm@ 1750-2500rpm',
       '11@ 3,000(kgm@ rpm)', '142Nm@ 4000rpm', '145Nm@ 4100rpm',
       '320Nm@ 1500-2800rpm', '123Nm@ 1000-2500rpm',
       '218Nm@ 1400-2600rpm', '510@ 1600-2400', '220Nm@ 1500-2750rpm',
       '380Nm@ 2000rpm', '104Nm@ 3100rpm', '292Nm@ 2000rpm',
       '20@ 3,750(kgm@ rpm)', '46.5@ 1,400-2,800(kgm@ rpm)',
       '380Nm@ 2500rpm', '15@ 3,800(kgm@ rpm)', '136Nm@ 4250rpm',
       '228Nm@ 4400rpm', '149Nm@ 4500rpm', '187Nm@ 2500rpm',
       '146Nm@ 3400rpm', '8.6@ 3,500(kgm@ rpm)', '219.7Nm@ 1750-2750rpm',
       '190Nm@ 2000-3000', '450Nm@ 2000rpm', '300Nm@ 2000rpm',
       '230Nm@ 1800-2000rpm', '42@ 2,000(kgm@ rpm)',
       '110Nm@ 3000-4300rpm', '110(11.2)@ 4800', '330Nm@ 1800rpm',
       '225Nm@ 1500-2500rpm', '380Nm@ 1750-2750rpm',
       '28.3@ 1,700-2,200(kgm@ rpm)', '259.88Nm@ 1900-2750rpm',
       '580Nm@ 1400-3250rpm', '400 Nm /2000 rpm', '127Nm@ 3500rpm',
       '300Nm@ 1500-2500rpm', '132.3Nm@ 4000rpm', '113nm@ 4400rpm',
       '151NM@ 4850rpm', '153Nm@ 3750-3800rpm', '10.7@ 2,500(kgm@ rpm)',
       '124.6Nm@ 3500rpm', '78Nm@ 3500rpm', '219.9Nm@ 1750-2750rpm',
       '420.7Nm@ 1800-2500rpm', '130Nm@ 3000rpm', '424Nm@ 2000rpm',
       '130@ 2500(kgm@ rpm)', '99.8Nm@ 2700rpm', '113Nm@ 4,500rpm',
       '11.2@ 4,400(kgm@ rpm)', '240Nm@ 1850rpm', '16.1@ 4,200(kgm@ rpm)',
       '320Nm@ 1750-2700rpm', '115Nm@ 4500rpm', '245Nm@ 4000rpm',
       '321Nm@ 1600-2400rpm', '619Nm@ 1600-2400rpm',
       '380Nm@ 1750-3000rpm', '560Nm@ 1500rpm', '230Nm@ 1500-2250rpm',
       '90Nm@ 2650rpm', '260Nm@ 1800-2200rpm', '600Nm@ 2000rpm',
       '259.87nm@ 1500-3000rpm', '16.6@ 4,500(kgm@ rpm)',
       '219.66NM@ 1500-2750rpm', '12.5@ 3,000(kgm@ rpm)',
       '620Nm@ 1500-2500rpm', '250Nm@ 1500-4500rpm',
       '14.9@ 3,400(kgm@ rpm)', '25.5@ 1,900(kgm@ rpm)',
       '33.7@ 1,800(kgm@ rpm)', '285Nm@ 2400-4000rpm',
       '10.7@ 2,600(kgm@ rpm)', '250Nm@ 1000-2000rpm', '240Nm@ 1750rpm',
       '226Nm@ 4400rpm', '510Nm@ 1600-2800rpm', '259.87NM@ 1500-3000rpm',
       '155 Nm at 1600-2800 rpm', '240Nm@ 2000rpm', '103Nm@ 4500rpm',
       '13.5@ 4,800(kgm@ rpm)', '400Nm@ 1750-2750rpm',
       '175Nm@ 1500-4100rpm', '72.9Nm@ 2250rpm', '135.4Nm@ 2500',
       '245Nm@ 5000rpm', '57Nm@ 2500rpm', '96Nm@ 2500rpm',
       '215nm@ 1750-2500rpm', '10.4@ 3,200(kgm@ rpm)', '128Nm@ 3100rpm',
       '102Nm@ 2600rpm', '131Nm@ 4400rpm', '11.4@ 4,000(kgm@ rpm)',
       '250Nm@ 4250rpm', '343Nm@ 1600-2800rpm', '185Nm@ 1750-2750rpm',
       '12@ 2500(kgm@ rpm)', '12.4@ 2,600(kgm@ rpm)', '170Nm@ 4200rpm',
       '176Nm@ 1500rpm', '380NM@ 1800-2800rpm', '250Nm@ 1600-2000rpm',
       '24.5@ 3,500-4,500(kgm@ rpm)', '22.9@ 1,950-4,700(kgm@ rpm)',
       '113Nm@ 4400rpm', '121Nm@ 2800rpm', '210 / 1900',
       '250Nm@ 1250-5000rpm', '400Nm@ 175-2750rpm', '350Nm@ 1500-3500rpm',
       '175nm@ 1750-4000rpm', '115@ 2500(kgm@ rpm)', '110Nm@ 4500rpm',
       '190Nm@ 2000-3000rpm', '106Nm@ 2200rpm',
       '21.4@ 1,750-4,600(kgm@ rpm)', '96Nm@ 3000rpm',
       '23.6@ 4,250(kgm@ rpm)', '11.3kgm@ 4700rpm', '450Nm@ 1750-2500rpm',
       '35.7@ 1,750-3,000(kgm@ rpm)', '6@ 2,500(kgm@ rpm)',
       '13.9 kgm at 4200 rpm', '320Nm@ 1400-4100rpm',
       '150Nm@ 1700-4500rpm', '113.8Nm@ 4000rpm', '110@ 3,000(kgm@ rpm)',
       '151Nm@ 2400rpm', '62Nm@ 2500rpm', '18@ 1,600-2,200(kgm@ rpm)',
       '83Nm@ 3000rpm', '124.5Nm@ 3500rpm', '20@ 4,700(kgm@ rpm)',
       '300Nm@ 1600-4000rpm', '171.6Nm@ 1500-4000rpm',
       '21.4@ 1,900(kgm@ rpm)', '190@ 21,800(kgm@ rpm)',
       '5.7@ 2,500(kgm@ rpm)', '88.4Nm@ 4200rpm',
       '250 Nm at 1,500-3,000 rpm', '340nm@ 1750-3000rpm',
       '36.6@ 1,750-2,500(kgm@ rpm)', '12.5kgm@ 3500rpm',
       '6.1@ 3,000(kgm@ rpm)', '110Nm@ 4000rpm', '350nm@ 1800-2600rpm',
       '175nm@ 1500-4100rpm', '4.8kgm@ 3000rpm', '355Nm@ 4500rpm',
       '51@ 1,750-3,000(kgm@ rpm)', '119Nm@ 4250rpm',
       '410Nm@ 1600-2800rpm', '174Nm@ 4300rpm', '99.1Nm@ 4500rpm',
       '385Nm@ 1600-2500rpm', '180 Nm at 2000rpm', '190 Nm at 1750 rpm',
       '53@ 2,000-2,750(kgm@ rpm)', '360Nm@ 1400-2600rpm',
       '420Nm@ 2000rpm', '124Nm@ 3500rpm', '17.5@ 4,300(kgm@ rpm)',
       '360Nm@ 2000rpm', '145Nm@ 3750rpm', '85Nm@ 3500rpm',
       '190Nm@ 4200rpm', '190 Nm at 2000rpm', '13.5@ 2500(kgm@ rpm)',
       '250nm@ 1500-3000rpm', '159.8Nm@ 1500-2750rpm', '500Nm@ 2000rpm',
       '333Nm@ 1600-3200rpm', '400nm@ 2800rpm',
       '33@ 2,000-2,680(kgm@ rpm)', '10.2@ 2,600(kgm@ rpm)', '480Nm',
       '190Nm@ 4300rpm', '320Nm@ 1800-2800rpm', '380Nm@ 1750rpm',
       '250.06nm@ 1500-2750rpm', '90nm@ 3500rpm', '190Nm@ 3700rpm',
       '436.4Nm@ 1800-2500rpm', '96  Nm at 3000  rpm '], dtype=object)

In [50]:
data['torque'] = data['torque'].str.upper()

In [51]:
data['torque'].head()

0              190NM@ 2000RPM
1         250NM@ 1500-2500RPM
2       12.7@ 2,700(KGM@ RPM)
3    22.4 KGM AT 1750-2750RPM
4       11.5@ 4,500(KGM@ RPM)
Name: torque, dtype: object

In [52]:
data[['torque','torque_unit' ]] = data['mileage'].str.aplit(expand=True)

AttributeError: Can only use .str accessor with string values!

In [53]:
def split_num(x):
    x = str(x)
    for i, j in enumerate(x):
        if j not in '0123456789.':
            cut = i
            break
    return x[:cut]

In [56]:
data['torque'] = data['torque'].apply(split_num)

In [57]:
data['torque'].head()

0     190
1     250
2    12.7
3    22.4
4    11.5
Name: torque, dtype: object

In [58]:
def torque_unit(x):
    if 'NM' in str(x):
        return 'NM'
    elif 'KGM' in str(x):
        return 'KGM'

In [59]:
data['torque_unit'] = data['torque'].apply(torque_unit)

In [60]:
data['torque_unit'].unique()

array([None], dtype=object)

In [62]:
data[data['torque_unit'].isna()]['torque'].unique()

array(['190', '250', '12.7', '22.4', '11.5', '113.75', '7.8', '59', '170',
       '160', '248', '78', '', '84', '115', '200', '62', '219.7', '114',
       '69', '172.5', '6.1', '114.7', '60', '90', '151', '104', '320',
       '145', '146', '343', '400', '138', '360', '380', '173', '111.7',
       '219.6', '112', '130', '205', '280', '99.04', '77', '110', '153',
       '113.7', '113', '101', '290', '120', '96', '135', '259.8', '259.9',
       '91', '96.1', '109', '202', '430', '347', '382', '620', '500',
       '550', '490', '177.5', '300', '260', '213', '224', '640', '95',
       '13.1', '71', '14.9', '117', '72', '11.4', '140', '134', '150',
       '340', '240', '330', '12.5', '111.8', '11.8', '135.4', '190.25',
       '20.4', '247', '223', '180', '195', '154.9', '114.73', '108',
       '190.24', '420', '100', '51', '132', '350', '218', '24', '13.5',
       '85', '74.5', '180.4', '230', '219.66', '245', '204', '14.3',
       '125', '172', '102', '8.5', '106.5', '108.5', '144.15', '99',
       '142.5', '196', '9.8', '209', '220', '48', '171', '277.5', '215',
       '13', '263.7', '25.5', '16.3', '94.14', '12', '16', '789',
       '259.87', '436.39', '182.5', '90.3', '305', '540', '327', '450',
       '19', '9.2', '148', '116', '222', '135.3', '98', '402', '99.07',
       '210', '32.1', '25', '197', '136.3', '470', '11', '142', '123',
       '510', '292', '20', '46.5', '15', '136', '228', '149', '187',
       '8.6', '42', '225', '28.3', '259.88', '580', '127', '132.3',
       '10.7', '124.6', '219.9', '420.7', '424', '99.8', '11.2', '16.1',
       '321', '619', '560', '600', '16.6', '33.7', '285', '226', '155',
       '103', '175', '72.9', '57', '10.4', '128', '131', '185', '12.4',
       '176', '24.5', '22.9', '121', '106', '21.4', '23.6', '11.3',
       '35.7', '6', '13.9', '113.8', '18', '83', '124.5', '171.6', '5.7',
       '88.4', '36.6', '4.8', '355', '119', '410', '174', '99.1', '385',
       '53', '124', '17.5', '159.8', '333', '33', '10.2', '480', '250.06',
       '436.4'], dtype=object)